// @import '/src/styles.scss';
//@import "node_modules/bootstrap/scss/bootstrap";

$primary-color: #2b5876;
$secondary-color: #4e4376;
$text-color: white;
$bg-color: #f9f9f9;
$font-family: 'Arial, sans-serif';

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow($color) {
  box-shadow: 0 4px 6px rgba($color, 0.1);
}

// Global Styles
body {
  font-family: $font-family;
  background-color: $bg-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  // background-image: url('../../../assets/images/Cosmos.jpg');
}

.homepage {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background: linear-gradient(to bottom, $primary-color, $secondary-color);

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &.btn-primary {
      background-color: $primary-color;
      color: $text-color;
    }

    &.btn-outline {
      background-color: transparent;
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }
}
@media (max-width: 768px) {
    .homepage h1 {
      font-size: 2rem;
    }
  
    .homepage p {
      font-size: 1rem;
    }
  
    .homepage button {
      padding: 8px 15px;
    }
  }
//}